<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    {{{ head }}}

    <style>

    body {
        margin: 0;
        height: 100%;
        width: 100%;
    }
    /* Style the top navigation bar */
    .topnav {
    overflow: hidden;
    background-color: #333;
    }

    /* Style the topnav links */
    .topnav a {
    font-size: 15px;    
    font-family: Verdana,sans-serif;
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 26px;
    text-decoration: none;
    }

    /* Change color on hover */
    .topnav a:hover {
    background-color: #deba00;
    color: black;
    }
   </style>
</head>
<body>
<div id="navbar" class="topnav">
  <button style="background-color: #deba00 !important; font-size: 26px !important; ;" id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>

  <a href="#">Link </a>
  <a href="#">Link </a>
  <a href="#">Link </a>


  <button style="background-color: #deba00 !important; font-size: 25px !important; display:none; " id="closeNav" class="w3-button w3-teal w3-xlarge" onclick="w3_close()">&#9776;</button>


</div>
  <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none; z-index: 1; background-color:#f5f5f5;" id="mySidebar">

  <!--
  <button  class="w3-bar-item w3-button w3-large"
  onclick="w3_close()">Close &times;</button> -->
  <a href="#" class="w3-bar-item w3-button">Link 1 SIDE</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>



{{{ body }}}

<script>

function w3_open() {
  document.getElementById("main").style.marginLeft = "20%";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("mySidebar").style.width = "20%";
  document.getElementById("openNav").style.display = 'none';
  document.getElementById("closeNav").style.display = "inline-block";
}
function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
  document.getElementById("closeNav").style.display = "none";



}



</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

</body>
</html>