<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        body {
            font-family: Avenir, sans-serif !important;
            background: linear-gradient(to right, #375eb5, #3199b1) !important;
        }
        .jumbotron {
            margin-top: 10px;
        }
    </style>

</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h3>About Us </h3>
        <h5>We are two students from University of Gothenburg currently studying Software Engineering in our final year.
            We are doing our bachelor's Thesis project and this tool is a part of it.
        </h5>
        <h5>We have been working on this Thesis under the supervision of professor Michel Chudron and Truong Ho Quang.</h5><br>
        <h5>Contact Information:</h5>
        <li><b>Aras Bazyan </b> <a href="mailto:aras.bazyan@gmail.com">aras.bazyan@gmail.com</a></li><br>
        <li><b>Nimish Krashak </b><a href="mailto:guskrasni@student.gu.se">guskrasni@student.gu.se</a></li><br>
    </div>
</div>
</body>
</html>