<!DOCTYPE html>
<html>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <head>

<style>
  body {
      font-family: Avenir, sans-serif;
      margin: 0;
      height: 100%;
      width: 100%;
      font-size: 17px;
  }

  /*  Particles.js container.
  Taken and modified from https://codepen.io/technovore/pen/aOdGjY
  */

  #particles-js {
      position: fixed;
      height: 200%;
      width: 100%;
      background: linear-gradient(to right, #375eb5, #3199b1) !important;
      background-image: url("");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      z-index: -1;
  }

  .center {
      position: absolute;
      top: 60%;
      left: 50%;
      width: 40%;

      /* bring your own prefixes */
      transform: translate(-50%, -50%);
  }
  .center:after {
      background-color: white;
      width: 100%;
      height: 100%;
      content: '';
      position: fixed;
      top: 10px;
      z-index: -1;
      opacity: 0.15;
  }


  button {
      box-sizing: border-box;
      display: inline-block;
      background: linear-gradient(to right, #375eb5, #347bb3) !important;
      color: #f2f2f2;
      border: none;
      margin-right: 0.7rem;
      padding: 0 1.5rem;
      font-size: 0.9rem;
      line-height: 3rem;
      font-weight: 400;
      cursor: pointer;
  }

  button:hover{
      opacity: 0.8;
  }

  .p100d {
      font-size: 1rem;
      font-family: Avenir, sans-serif;
      width: 100%;
      height: 50px;
      margin-top: 10px;
      display: block;
      border: none;
      text-align: center;
      padding: 0;
  }

</style>

  </head>
	<body>
    <div id="particles-js"></div>




    <section id="info" style="top: 20%;" class="center">
        <div style="display: inherit; color: white; padding: 6px; height:50%">
            <p style="text-align: center">Welcome to UML Ninja</p>
            <p>Please press <q>Show test repos</q> button and select a project.</p>
            <p>After exploring the tool, please answer the online questionnaire at <b><a href="https://goo.gl/forms/CH2SyLWHTbuNGOLz2" target="_blank" > this Link.</a></b></p>
            <p>If you need assistant, please refer to the <b><a href="/tutorial">Tutorial</a></b> page.</p>
        </div>
    </section>

    <section class="center">
        <p id="repoDetails" style="color: white; margin: 34px auto; text-align: center; height:50%">  Please enter a Github username </p>
        <div>
            <input class="p100d" type="text" placeholder="Github Username" id="term"><br>
            <button id="search" style="cursor: no-drop" class="p100d" disabled>Search</button>
            <button id="showRepos" class="p100d">Show Test Repos</button>
        </div>
        <p id="testRepos" style="color: white; margin: 20px auto; text-align: center;"></p>
    </section>

    <div id="username"></div>



    <script type="text/javascript">


        /* ---- particles.js config ---- */

        particlesJS("particles-js", {
            "particles": {
                "number": {
                    "value": 80,
                    "density": {
                        "enable": true,
                        "value_area": 1000
                    }
                },
                "color": {
                    "value": "#d6d6d6"
                },
                "shape": {
                    "type": "star",
                    "stroke": {
                        "width": 0,
                        "color": "#d6d6d6"
                    },
                    "polygon": {
                        "nb_sides": 5
                    },
                    "image": {
                        "src": "img/github.svg",
                        "width": 100,
                        "height": 100
                    }
                },
                "opacity": {
                    "value": 0.3,
                    "random": false,
                    "anim": {
                        "enable": false,
                        "speed": 1,
                        "opacity_min": 0.1,
                        "sync": false
                    }
                },
                "size": {
                    "value": 2,
                    "random": true,
                    "anim": {
                        "enable": false,
                        "speed": 40,
                        "size_min": 0.1,
                        "sync": false
                    }
                },
                "line_linked": {
                    "enable": true,
                    "distance": 150,
                    "color": "#d6d6d6",
                    "opacity": 0.4,
                    "width": 1
                },
                "move": {
                    "enable": true,
                    "speed": 5,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {
                        "enable": false,
                        "rotateX": 600,
                        "rotateY": 1200
                    }
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {
                        "enable": true,
                        "mode": "grab"
                    },
                    "onclick": {
                        "enable": true,
                        "mode": "push"
                    },
                    "resize": true
                },
                "modes": {
                    "grab": {
                        "distance": 140,
                        "line_linked": {
                            "opacity": 1
                        }
                    },
                    "bubble": {
                        "distance": 400,
                        "size": 40,
                        "duration": 2,
                        "opacity": 8,
                        "speed": 3
                    },
                    "repulse": {
                        "distance": 200,
                        "duration": 0.4
                    },
                    "push": {
                        "particles_nb": 4
                    },
                    "remove": {
                        "particles_nb": 2
                    }
                }
            },
            "retina_detect": true
        });

$(document).ready(function(){
    $("#showRepos").click(function(){
        $("#testRepos").empty();
        $("#info").fadeOut('fast');
      $.getJSON("http://localhost:3000/projectData", function(result){
          console.log(result);
          var index = 0;
          console.log(result.length)
          for (var i = 0; i < result.length; i++) {
            $("#testRepos").append("<li <a style='cursor:pointer;' id=" + i + ">" + result[i].ProjectName + "</a></li>");
          }
        $("#testRepos").children().click(function(){
            // selected repo
            var repoChoice = $(this.id);
            var pid = $("#"+this.id).attr('id');
            pid = parseInt(pid) + 1;
            console.log(pid);
           window.location = "/dash/" + pid;
        });
    });
});

$("#openNav").hide();
    $("#search").click(function(){
        $('#repoDetails').empty();
        var searchterm = $("#term").val() ? $("#term").val() : "";
        function getUserRepos(callback){
            $.get("https://api.github.com/users/" + searchterm + "/repos",
                function(data, status){
                    //Show 10 Projs
                    data = data.slice(0,10);
                    success: callback(data,status);
                });
        };

        function showRepos(data, status){
            for (var i = 0; i < data.length; i++) {
                $("#repoDetails").append("<li data-balloon='Based on Overall score' data-balloon-pos='up' id='repo" + i + "'>" + data[i].name + "</li>");
            };
            // function when user clicks a repo choice
            $("#repoDetails").children().click(function(){
                var repoChoice = $("#"+this.id).html();
            });
        };
        getUserRepos(showRepos);
    });

});
    </script>
    </body>
</html>
