<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tutorial</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        body {
            font-family: Avenir, sans-serif !important;
            background: linear-gradient(to right, #375eb5, #3199b1) !important;
        }
        .jumbotron {
            margin-top: 10px;
        }
    </style>

</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h2>Tutorial Page</h2>
        <h3>Home Page </h3>
        <h4>The home screen consists of 3 main elements</h4>
        <li>
            <b>Search Bar </b>- Here one can enter a Github username and get all projects that are related to that user.
            The functionality to analyse documentation of those Github projects does not exist but allows for the possibility to do so.
        </li>
        <li>
            <b>Search button </b>- Clicking the search button, yields results using the text typed in the search bar.
        </li>
        <li>
            <b>Show test repos button </b>- This is the crucial part of the current tool which will be used for evaluation. Clicking this button will produce a list of 10 Github projects.
            The data from these 10 projects has been analysed and the results of which can be seen by clicking any of the 10 Github projects which will redirect you to the project's dashboard.
        </li><br>
        <h3>Dashboard </h3>
        <h4>The dashboard contains of multiple elements, broken down into 4 major components:</h4>
        <li>
            <b>Tab Bar</b>- The tab bar is the top most bar of the dashboard and its elements consist of:
            <ul>
                <li>Home: Clicking this will redirect you to the home screen.</li>
                <li>Admin: This tab will redirect you to a page which contains information for a developer to extend functionality of this tool.</li>
                <li>Why?: This element will redirect you to a page which contains reasoning behind the creation of this web application.</li>
                <li>About us: This element will redirect you to a web page that contains the website creator's information.</li>
            </ul>
        </li>
        <li>
            <b>Info Bar</b>- The Info bar contains information regarding the current project you are viewing:
            <ul>
                <li>Repository: Name of the repository you are viewing.</li>
                <li>Github API Link: Link to the GitHub API.</li>
                <li>Number of Contributors: Number of developers of this project.</li>
                <li>Main programming languages: The main programming languages used in this project.</li>
            </ul>
        </li>
        <li>
            <b>Overview Box</b>- The overview box is on the left side of the dashboard which contains the overall score of the project based on the indicators plus a level of the project based on the score.
            It also contains "Facebook" and "Twitter" icons, which upon clicking can share your current status of the project.
        </li>
        <li>
            <b>Indicator Boxes</b>- There are 4 indicator boxes as can be seen on the dashboard. Each of which consist of Indicators that fall in that particular category.
            <ul>
                <li>Indicators: Each indicator can either award maximum 5 points (if its on a 1-5 scale) or 2 points (if its a Yes/No indicator).<br>
                    <b>Each indicator name is clickable which will open a info window containing information regarding that particular indicator.</b><br>
                    <b>Moreover, each level bar of the indicator is also clickable which opens a graph window that displays the variables that were used for the calculation of that indicator.</b>
                    The raw value of each indicator is also shown in the graph window.</li>
                <li>UML Content Box: The UML Content Box is the bottom right box which also contains an additional tab called "Class Diagram". Clicking that tab will display another list of indicators that pertain to the class diagram of that project..</li>
            </ul>
        </li><br>
    </div>
</div>
</body>
</html>