<!DOCTYPE html>
<html lang="en">
<head>
    <title>Why</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
    body {
        font-family: Avenir, sans-serif !important;
        background: linear-gradient(to right, #375eb5, #3199b1) !important;
    }
    .jumbotron {
        margin-top: 10px;
    }
</style>

</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h2>Purpose of this tool </h2>
        <h4>The purpose of this tool is to automatically assess UML and documentation practices used in Open Source Projects,
            in attempt to improve overall quality of documentation practices that hopefully can lead to improving software quality.</h4>
        <h4>This tool assess a project based on several indicators with regard to documentation and UML</h4><br>
        <h4>We believe that this tool can be used by many stakeholders in many different use cases, for example</h4>
        <li>
            <b>Software Project Manager </b>- As a manager you would like to quickly see an overview of the project quality in terms of documentation, including UML diagrams.
            A manager could also be wanting to compare the one project with another in terms of documentation and this framework can help them in achieving it.
        </li><br>
        <li>
            <b>Software Project Manager </b>- As a manager you would like to quickly see an overview of the project quality in terms of documentation, including UML diagrams.
            A manager could also be wanting to compare the one project with another in terms of documentation and this framework can help them in achieving it.
        </li><br>
        <li>
            <b>Developer/Students </b>- As a developer of a project you would like to see the current status of the project and be able to recognise and rectify any issues with documentation.
            A benefit for this user profile would also be the automatic updates to the indicators/scores based on the updates to the documentation.
        </li><br>
        <li>
            <b>Researcher</b> - As a researcher you would like to collect data for further research and analysis or collect data regarding quality of documentation in software projects and using this framework
            the researcher would be able to get the required data in an automated and structured manner.
        </li><br>
        <br><br>
    </div>
</div>
</body>
</html>